

h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.containerxd{
    padding: 40px;
    justify-content: center;
    border: 1px solid #000;
     align-items: center;
    position: relative;
    width: 55%;
    border-width:15px;
    border-radius: 20px;
    left: 20%;

}




.carrosdate{

    padding: 40px;
    justify-content: center;
    border: 1px solid #000;
     align-items: center;
    position: relative;
    width: 30%;
    border-width:15px;
    border-radius: 20px;
    left: 30%;

    
}

.nombrep{
    position: relative;
    left: 30%;
}

.boton{
    top: 40px;
    left: 43%;
    position: relative;
}

.button{
    color: black;

    background: aqua;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 10%;
    font-size: 30px
}
